@model OnlineStore_Admin.ViewModels.ProductFormVM

<h2>New Product</h2>
@using (Html.BeginForm("Create", "Inventory"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Name)
        @Html.TextBoxFor(m => m.Product.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Description)
        @Html.TextBoxFor(m => m.Product.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.CategoryId)
        @Html.DropDownListFor(m => m.Product.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"),"Select Category", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.Quantity)
        @Html.TextBoxFor(m => m.Product.Quantity, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.CostPrice)
        @Html.TextBoxFor(m => m.Product.CostPrice, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Product.SellPrice)
        @Html.TextBoxFor(m => m.Product.SellPrice, new { @class = "form-control" })
    </div>
    <div class="checkbox">
        @Html.LabelFor(m => m.Product.IsStocked)
        @Html.CheckBoxFor(m => m.Product.IsStocked)
    </div>
    <button class="btn-primary">Save</button>

}

